<mat-form-field appearance="fill" style="width: 100%;">
	<mat-label>Select your cheese</mat-label>
	<mat-select [formControl]="formGroup.get('selectedCheese')">
		<mat-option *ngFor="let cheese of (data.cheeses$ | async)" [value]="cheese">{{cheese.name}}</mat-option>
	</mat-select>
</mat-form-field>

<mat-form-field class="example-full-width" appearance="fill" style="width: 100%;">
	<mat-label>Enter cheese weight in grams</mat-label>
	<input matInput [formControl]="formGroup.get('weightInGrams')" type="number" placeholder="Weight in grams">
</mat-form-field>

<h2 *ngIf="formGroup.valid">
	Total price based on {{formGroup.get('weightInGrams').value}}g: {{(formGroup.get('selectedCheese').value?.pricePerKG / 1000) * formGroup.get('weightInGrams').value | currency}}
</h2>