<button mat-flat-button color="primary" (click)="calculateDialog()">Click me to calculate the cost of your next cheese party!</button>
<div class="two-columns">
	<ng-container *ngFor="let cheese of (cheeses$ | async)">
		<mat-card>
			<h2 style="text-align: center;">{{cheese.name}}</h2>
			<div class="center"><img style="margin: auto;" [src]="cheese.image"></div>
			<div class="center">
				<span><b>Colour: {{cheese.colour}}</b></span>
				<br>
				<span><b>Price per KG: {{cheese.pricePerKG | currency}}</b></span>
				<br>
			</div>
		</mat-card>
	</ng-container>
</div>